<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mhergott.ddsbcommunityhours" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ignite_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GetSingleActivityInfo"
            android:label="@string/title_activity_get_single_activity_info"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mhergott.ddsbcommunityhours.MainActivity" />
        </activity>
        <activity
            android:name=".AddPersonalInfo"
            android:label="@string/title_activity_add_personal_info"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mhergott.ddsbcommunityhours.MainActivity" />
        </activity>
        <activity
            android:name=".EventDetails"
            android:label="@string/title_activity_event_details"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mhergott.ddsbcommunityhours.MainActivity" />
        </activity>
        <activity
            android:name=".GetRecurringActivityInfo"
            android:label="@string/title_activity_get_recurring_activity_info"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mhergott.ddsbcommunityhours.MainActivity" />
        </activity>
        <activity
            android:name=".AddHoursRecurringEvent"
            android:label="@string/title_activity_add_hours_recurring_event"
            android:parentActivityName=".EventDetails" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mhergott.ddsbcommunityhours.EventDetails" />
        </activity>
        <activity
            android:name=".EmailActivity"
            android:label="@string/title_email_activity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mhergott.ddsbcommunityhours.MainActivity"/>
        </activity>
        <activity
            android:name=".CapturePhoto"
            android:label="@string/title_activity_capture_photo">
        </activity>
        <activity
            android:name=".SelectPhoto"
            android:label="@string/title_activity_select_photo" >
        </activity>
    </application>

</manifest>